<h1>Register form</h1>
{{msg}}
<h1>{{html}}</h1>
<form action="send" method="post">
  <label>Name
    <input type="text" name="userName" placeholder="name" />
  </label>
  <label>Email
    <input type="email" name="userEmail" placeholder="email" />
  </label>
  <label>Phone
    <input type="tel" name="userPhone" placeholder="phone" />
  </label>
  <label>Message
    <textarea type="text" name="userMessage" placeholder="Message"></textarea>
  </label>
  <button type="submit">Register</button>
</form>